
body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.03125em;
  margin: 0 0 1.5rem;
  color: #212121;
}

h1 {
  font-size: 1.77687rem;
  line-height: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.60181rem;
  line-height: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

h5 {
  font-size: 1.333rem;
  line-height: 1.5rem;
  font-weight: 500;
}

  .modal-body {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .form-area h1 {
    font-size: 2.3em;
    font-weight: bold;
  }
  .form-area {
	padding: 3em;
	max-width: 100%;
	color: #fff;
	box-shadow: 0 4px 6px 7px rgba(0, 0, 0, 0.5);
} 
  
  .form-control {
    background-color: white;
   
    padding-left: 0;
    border: 1px solid #b4c4c8;
    border-radius: 5px;
  }
  .form-area .btn {
	width: 100%;
	font-weight: 800;
	background-color: #fff;
	padding: 0.5em 0;
	border-radius: 50px;
}
.btn.btn-primary {
	padding: 15px 50px;
	font-family: alfa slab one;
	font-size: 20px;
	letter-spacing: 2px;
	border-radius: 50px;
}
  .form-area .btn:hover {
    background-color: inherit;
    color: #fff;
    border-color: #fff;
  }
  .form-area p {
    text-align: center;
    padding-top: 2em;
    color: #fff;
  }
  .form-area p a {
    color: #e1e1e1;
    text-decoration: none;
  }
  .form-area p a:hover {
    color: #fff;
  }

  .bg-primary {
    background-color: #b4c4c8!important;
    
  }
  @media (max-width: 600px){
    .form-area{
        padding: 1.5em;
    }
    .form-area h1{
        font-size: 18px;
    }
  }
.review_style{
  font-style: italic;
  quotes: "'" "'";
}

.align_rating{
  display: inline-block;
  margin-right: 10px; 
}

#map {
  height: 540pt;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card{
  text-decoration: none;
}

.card img {
  margin: 1rem 1rem 0 1rem;
}