{% extends 'base.html' %}
{% block title %}Book Detailes Page{% endblock %}

{% block body_attrs %}

{% endblock body_attrs%}

{% block body %}
<link href="/static/star-rating.css" rel="stylesheet">
<main>
<div id="" class="book_container">
    {% if 'imageLinks' in book.volumeInfo %}
          <img class="book_container_image" src="{{book.volumeInfo.imageLinks.get('smallThumbnail', '/static/images/no-image-available.jpg')}}"
            width="150" 
            height="200">
    {% else %}
          <img class="book_container_image" src="{{'/static/images/no-image-available.jpg'}}"
          width="150" 
          height="200">
    {% endif %}
        <div class="book_container_text">
            <h4 class="">Title: {{ book.volumeInfo.title }}</h4>
            <p class="">Authors: {{', '.join(book.volumeInfo.get('authors', ['***']))}}</p>
            <p>Description:
                {% if 'description' in book.volumeInfo %}
                    {{book.volumeInfo.description|striptags}}
                {% else %}
                    No description so far.
                {% endif %}
            </p>
   <!-- SHowing rating and reviews if book exists in db -->
            <div class="align_rating">Average Rating: {{db_book.rating if db_book is not none else 
                book.volumeInfo.get('averageRating', '0') }}
            </div>
        </div>
        
    <!-- creating a rating for the book -->
    {% if session.get("user_id") %}
        {%if not already_reviewed%}
    <div class="align_rating" id="rate_the_book">
        <div>Rate this book</div>
    </div>
    <div class="stars">
        <select id = "star-rating-id" class="star-rating" data-google-book-id="{{book.id}}">
            <option value="">Select a rating</option>
            <option value="5">Excellent</option>
            <option value="4">Very Good</option>
            <option value="3">Average</option>
            <option value="2">Poor</option>
            <option value="1">Terrible</option>
        </select>
        <script src="/static/js/star-rating.min.js"></script>
        <script>
            var stars = new StarRating('.star-rating', {
                maxStars: 5,
                tooltip: false,
                stars: function (el, item, index) {
                el.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><rect class="gl-star-full" width="19" height="19" x="2.5" y="2.5"/><polygon fill="#FFF" points="12 5.375 13.646 10.417 19 10.417 14.665 13.556 16.313 18.625 11.995 15.476 7.688 18.583 9.333 13.542 5 10.417 10.354 10.417"/></svg>';
    }
            });
        </script>
    </div>
        {% endif %}
    {% endif %}
    {% if db_book is not none %}
        <div>Reviews: 
            <ul>
            {% for review in db_book.reviews %}
            
                <li class="review_style">
                    "{{review.text_review}}"
                </li>

            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if session.get("user_id") %}
        {%if not already_reviewed%}
    <form action="/review" method="POST">
        <textarea id="book_review" name="review" rows="4" cols="50" placeholder='Please enter your review of book "{{ book.volumeInfo.title }}" here.'></textarea>
        <br>
        <input type="submit" value="Submit">
        <input type="hidden" id="googleBookId" name="googleBookId" value="{{book.id}}" />
    </form>
        {%else%}
        <div id = "already_reviewed">You already reviewed this book.</div>
        {% endif %}
    {% endif %}
</div>
<div class="book-details-background"></div>
</main>
<script type = "text/javascript" src="/static/js/submit_rating.js"></script>
{% endblock %}