{% extends 'base.html' %}
{% block title %}Book Pie{% endblock %}

{% block body %}

<h3>Thinking what to read next?</h3>

<!-- list of books to present to the user -->
<div id="book-list" class="row">
  {% for book in books %}
      <div class="book-info">
        <a href="/search/{{book.id}}"><img src="{{book.volumeInfo.imageLinks.get('smallThumbnail', '/static/no-image-available.jpg')}}" ></a>
        <div class="">
          {% if 'title' in book.volumeInfo %}
            <a href="/search/{{book.id}}">
              {{ book.volumeInfo.title }}</a>
            <br/>
          {% endif %}
            </div>
        <div class="">Authors: {{', '.join(book.volumeInfo.get('authors', ['***']))}}</div>
        <br/>
  </div>
  {% endfor %}
</div>




{% endblock %}