{% extends 'base.html' %}
{% block title %}Book Pie{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Thinking what to read next?</h2>

  <div id="book-list" class="row">
    {% for book in books %}
        <div class="">

            <div class="t">
              <div class="">
                  <h5 class="">{{ book.volumeInfo.title }}</h5>
                  <div class="">{{ ', '.join(book.volumeInfo.authors) }}</div>


                  
              </div>
            </div>
        </div>
    {% endfor %}
  </div>
  


{% endblock %}