{% extends 'base.html' %}
{% block title %}User's Page{% endblock %}

{% block body %}

<!-- <div class="search">
    <h2>Do you want to review a book?</h2>
    <form action="/search">
      <input type="text"
          placeholder="Title"
          name="title">
      <input type="text"
          placeholder="Author"
          name="author">
      <p>
        <input type="submit" value="Find books" class="btn btn-primary">
      </p>
  </form>
  </div>
<div> -->
    {% if reviews is defined and reviews %}
    <p>The books that you previously reviewed:</p>
    
        <div class="">Reviews: 
            {% for review in reviews %}
           
            <ul>
                <li type="1">
                    <img src="{{review.book.poster_path}}" >
                    <br>
                    Title: {{review.book.title|title}}
                    <br>
                    <!-- we need to check if authors are in the db for that book -->
                    {% if review.book.authors %}
                        Authors: 
                        {{review.book.authors }}
                    {% endif %}
                    <br>
                    Your review: "{{review.text_review}}"
                </li>

            </ul>
            
            {% endfor %}
        </div>
    {% else %}
        <div>
            {{"You haven't reviewed any books so far!"}}</div></br>
            
            
        </div>
    {% endif %}
        <div>{{"Would you like to review the most popular books of the month?"}}</div>
        <div id="random_book-list" class="row">
            {% for book in books %}
                <div class="book-info">
                  {% if 'imageLinks' in book.volumeInfo %}
                  <a href="/search/{{book.id}}"><img src="{{book.volumeInfo.imageLinks.get('smallThumbnail', '/static/no-image-available.jpg')}}" ></a>
                  {% else %}
                    <a href="/search/{{book.id}}"><img src="{{'/static/no-image-available.jpg'}}" ></a>
                    {% endif %}
                  <div class="">
                    {% if 'title' in book.volumeInfo %}
                      <a href="/search/{{book.id}}">
                        {{ book.volumeInfo.title }}</a>
                      <br/>
                    {% endif %}
                      </div>
                  <div class="">Authors: {{', '.join(book.volumeInfo.get('authors', ['***']))}}</div>
                  <br/>
            </div>
            {% endfor %}
          </div>
</div>



{% endblock %}



<!-- if user just login first time after registration -->
<!-- if user doesn't have any reviews yet -->